{% extends "templates/01-basic-information.jinja2" %}

{% block content1 %}
Could you please write a plot for the given environment? This includes the motivation of the killer and how he did it. Please provide some background information what the characters were doing around and during the time of the murder.
{% endblock %}
