{% extends "templates/01-basic-information.jinja2" %}

{% block content1 %}
PLOT: {{ plot }}

{% if history %}
HERE IS THE CONVERSATION UNTIL NOW:
{% for event in history %}
{{ event }}
{% endfor %}
{% endif %}

{% block content3 %}
{% endblock %}
{% endblock %}
