{% extends "templates/03-game-context.jinja2" %}

{% block content3 %}
Please formulate a short text that introduces the player to the plot but does not contain hints about who the murderer is. The text should contain the info what the goal of the game is, wich characters there are, and who was murdered.

GAME MASTER: 
{% endblock %}
