{% extends "templates/03-game-context.jinja2" %}

{% block content3 %}
Below, you will receive a user input, which you will answer as the game master would.

USER:  {{ user_prompt }}

GAME MASTER:
{% endblock %}
