{% extends "templates/03-game-context.jinja2" %}

{% block content3 %}
As the game master AI, you will only respond with either YES or NO to the following question, nothing else, no explanation, no punctuation, only YES or NO:

Based on the conversation until now, do you consider the case closed?

GAME MASTER ANSWER: 
{% endblock %}
